$color-white:#f7f7f7;
$color-black:#000;
$light-black:#505050;
$white:#fff;
$red:#ff0000;
$blue:#0000ff;
$light-grey:#F5F4F4;
$color-blue:rgb(95, 196, 255);
$color-blue-dark:rgb(0, 160, 253);
$color-purple:rgb(60, 55, 84);
$color-purple-light:#8609ee;
$green:#00ff00;
$color-dark-green:#24E8E1;
//FONT
$default-font-size: 1.6rem;
