.payment-card{
  
    &__image{
        text-align: center;
        img{
            height: 10rem;
            width: 10rem;
        }
        height: 12rem;
    }
    &__content{
        padding: 0 3rem;
        min-height: 10rem;
        h2{
            color:$light-black;
            text-align: center;
            margin: 1rem 0;
        }
        p{

            text-align: center;
            font-size: 1.4rem;
            margin: 1rem 0;

        }
    }
}