@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  overflow-x: hidden;
  width: 100vw; }

a {
  text-decoration: none; }

::selection {
  background-color: #f7f7f7;
  color: #f7f7f7; }

.error {
  text-align: center;
  color: rgba(255, 0, 0, 0.6); }

.navigation {
  font-size: 2rem;
  padding: 1rem 3rem !important; }
  .navigation * {
    color: white !important;
    margin-right: 2rem; }

.btn-success {
  background-color: #24E8E1 !important;
  padding: .8rem 2.4rem !important;
  border-radius: 10rem !important;
  box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border: none !important;
  font-size: 1.4rem !important; }
  .btn-success:hover {
    background-color: #8ae1ee !important; }

.btn-cta {
  border-radius: .5rem !important;
  padding: .8rem 4rem !important;
  background: linear-gradient(to left, #897EEC, #41BFFF);
  border: none !important;
  color: #fff !important;
  font-size: 1.6rem !important;
  transition: all .2s; }
  .btn-cta:hover {
    transform: translateY(-0.5px);
    box-shadow: 0.5rem 2rem 4rem rgba(0, 0, 0, 0.2); }

.header {
  color: #fff;
  height: 125vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 5rem;
      width: 80vw; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      width: 100vw; } }
  .header__heading {
    font-size: 4rem;
    font-weight: 900; }
  .header__paragraph {
    font-size: 1.8rem; }
  .header__input-box {
    padding: 4rem 3rem 0 0;
    position: relative; }
  .header__input {
    width: 100%;
    border-radius: 10rem;
    padding: 1rem;
    border: none;
    font-size: 1.4rem !important; }
  .header__btn {
    position: absolute;
    width: 30%;
    right: 3.2rem;
    top: 4.2rem;
    font-size: 1.4rem !important;
    background: linear-gradient(to left, #897EEC, #41BFFF); }
    .header__btn:hover {
      box-shadow: none; }
    @media only screen and (max-width: 37.5em) {
      .header__btn {
        width: 40%; } }

.my-card {
  display: flex !important;
  flex-direction: row !important;
  padding: 5rem 2rem;
  width: 30vw;
  box-shadow: 0.2rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 2rem;
  border-radius: 5px;
  border-top: 5px solid #24E8E1; }
  @media only screen and (max-width: 56.25em) {
    .my-card {
      width: 60vw; } }
  @media only screen and (max-width: 37.5em) {
    .my-card {
      width: 80vw; } }
  .my-card__header {
    font-size: 2rem; }
  .my-card__img-box {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .my-card__img {
    display: block;
    height: 5rem;
    width: 5rem; }
  .my-card__content {
    flex: 1;
    font-size: 1.8rem; }
  .my-card__para {
    min-height: 50%; }

.user-card {
  background: url("./img/bg/feedback.svg") center center;
  background-size: 100% 100%;
  padding: 10rem;
  width: 50vw;
  height: 50vh; }
  @media only screen and (max-width: 75em) {
    .user-card {
      padding: 7rem;
      width: 90vw;
      height: 100%;
      background-size: 100% 100%; } }
  .user-card__heading {
    font-size: 2rem;
    font-weight: 200; }
  .user-card__content {
    text-overflow: clip;
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem; }
    @media only screen and (max-width: 75em) {
      .user-card__content {
        margin: 1rem; } }
  .user-card__detail {
    text-align: center; }
    .user-card__detail h2 {
      font-size: 1.4rem;
      font-weight: 500; }

.u-small-fonts {
  font-size: 1rem; }

.u-text-center {
  text-align: center; }

.u-text-white {
  color: #fff; }

.u-text-black {
  color: #000; }

.u-margin-x-sm {
  margin: 0 1rem; }

.u-margin-y-sm {
  margin: 1rem 0; }

.u-margin-y-md {
  margin: 2rem 0; }

.u-margin-y-lg {
  margin: 4rem 0; }

.u-padding-sm {
  padding: 2rem; }

.u-display-block {
  display: block; }

.u-display-flex {
  display: flex; }
  .u-display-flex.u-justify-content-center {
    justify-content: center; }
  .u-display-flex.u-justify-content-start {
    justify-content: flex-start; }
  .u-display-flex.u-justify-content-end {
    justify-content: flex-end; }
  .u-display-flex.u-justify-content-space-evenly {
    justify-content: space-evenly; }
  .u-display-flex.u-justify-content-space-between {
    justify-content: space-between; }
  .u-display-flex.u-justify-content-space-around {
    justify-content: space-around; }
  .u-display-flex.u-align-items-center {
    align-items: center; }
  .u-display-flex.u-align-items-start {
    align-items: flex-start; }
  .u-display-flex.u-align-items-end {
    align-items: flex-end; }
  .u-display-flex.u-align-items-stretch {
    align-items: stretch; }
  .u-display-flex.u-align-items-baseline {
    align-items: baseline; }
  .u-display-flex.u-flex-column {
    flex-direction: column; }
  .u-display-flex > .flex-fill {
    flex: 1; }

#progressbar {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  font-size: 14px;
  color: #fff;
  margin-top: 100px; }
  #progressbar li {
    position: relative; }
  #progressbar li:before {
    content: "";
    position: absolute;
    left: -12.5px;
    top: -115px;
    height: 125px;
    width: 1px;
    background-color: #fff; }
  #progressbar .active {
    list-style: square;
    color: black; }
    #progressbar .active:before {
      background-color: #000; }

.payment-card__image {
  text-align: center;
  height: 12rem; }
  .payment-card__image img {
    height: 10rem;
    width: 10rem; }

.payment-card__content {
  padding: 0 3rem;
  min-height: 10rem; }
  .payment-card__content h2 {
    color: #505050;
    text-align: center;
    margin: 1rem 0; }
  .payment-card__content p {
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0; }

.pricing-card {
  width: 20vw;
  border-radius: 10px;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .pricing-card {
      width: 80vw;
      margin: 2rem 0; } }
  .pricing-card__header {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: .2rem;
    padding: 1rem;
    text-align: center; }
  .pricing-card.orange .pricing-card__header {
    background: linear-gradient(90deg, #FFB88C, #E56590); }
  .pricing-card.green .pricing-card__header {
    background: linear-gradient(90deg, #4CCBAB, #3E75CE); }
  .pricing-card.purple .pricing-card__header {
    background: linear-gradient(90deg, #F78CFF, #6594E5); }
  .pricing-card__content {
    background: #fff;
    padding: 1rem; }
  .pricing-card__pricing {
    text-align: center;
    border-bottom: 0.5px solid #0000ff;
    margin: 1rem 0; }
    .pricing-card__pricing h2 {
      font-size: 3.5rem;
      font-weight: 700; }
  .pricing-card.orange .pricing-card__pricing h2, .pricing-card.orange .pricing-card__pricing h4 {
    color: #F97D7D; }
  .pricing-card.green .pricing-card__pricing h2, .pricing-card.green .pricing-card__pricing h4 {
    color: #079C9C; }
  .pricing-card.purple .pricing-card__pricing h2, .pricing-card.purple .pricing-card__pricing h4 {
    color: #AD00C1; }
  .pricing-card__features {
    padding-bottom: 5rem;
    padding: 0 1rem 5rem; }
    .pricing-card__features li {
      display: block;
      font-size: 1.2rem;
      font-weight: 600; }
      @media only screen and (max-width: 75em) {
        .pricing-card__features li {
          font-size: 1.6rem;
          font-weight: 200; } }

.footer {
  height: 100vh;
  background: url("./img/bg/FOOTER-BG-trans.svg") center center;
  background-size: cover; }
  .footer__content {
    height: 70vh;
    color: #fff;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; }
    .footer__content li {
      display: block;
      font-size: 1.4rem; }
    .footer__content li:first-child {
      font-size: 1.8rem;
      font-weight: 600; }
  .footer__privacy {
    display: flex;
    height: 10vh;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    font-size: 1.4rem; }

.home-page {
  width: 100vw;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .home-page {
      height: 550vh; } }

.header-container {
  background: url("./img/bg/new ed.svg") center center no-repeat;
  background-size: cover; }

.section-why-us {
  min-height: 95rem;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .section-why-us {
      margin-top: -10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-why-us {
      margin: 0rem 0 0 0; } }

.heading--black {
  margin-bottom: 2rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  font-size: 3rem; }

.heading--white {
  margin-bottom: 2rem;
  font-weight: 900;
  color: white;
  font-size: 3rem; }

@media only screen and (max-width: 37.5em) {
  .sm-text-white {
    color: #f7f7f7 !important; } }

.section-feedback {
  padding: 10rem;
  background: url("./img/bg/dot-bg.svg") center center;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .section-feedback {
      padding: 10rem 1rem; } }

.section-enroll {
  display: flex;
  justify-content: center;
  align-items: center; }

.enroll-card {
  width: 70vw;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.2);
  padding: 2rem; }
  .enroll-card__content {
    flex: 1;
    font-size: 1.4rem; }
  .enroll-card__btn-box {
    color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .enroll-card {
      display: block; } }

footer {
  position: absolute;
  bottom: 10px;
  width: 100vw;
  color: #fff; }
  footer span {
    font-size: 1.4rem;
    font-weight: 900; }

.features-container {
  background: url("./img/bg/dots.svg") center center;
  background-size: cover; }

.features__box {
  width: 20vw;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: initial; }
  @media only screen and (max-width: 56.25em) {
    .features__box {
      width: 40vw; } }
  .features__box h4 {
    color: #0000ff;
    font-size: 1rem;
    font-weight: 600;
    transition: all .2s; }
  .features__box p {
    font-size: 1.4rem;
    font-weight: 600;
    transition: all .2s; }
  .features__box:hover {
    background-color: #0000ff;
    box-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.2); }
    .features__box:hover h4, .features__box:hover p {
      color: #fff; }

.our-dashboard {
  height: 150vh;
  background: url("./img/bg/Artboard – 1.svg") center center no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .our-dashboard {
      background: url("./img/bg/dash-feature-sm.svg") center center no-repeat;
      background-size: 200%; } }
  .our-dashboard h2 {
    text-align: center;
    margin: 2rem;
    color: #fff; }
  .our-dashboard__content {
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .our-dashboard__content {
        width: 100%;
        height: 100%; } }
  .our-dashboard__card {
    padding: 2rem;
    margin: 1rem;
    color: white;
    width: 20rem; }
    .our-dashboard__card h4 {
      font-size: 1.4rem;
      font-weight: 100;
      font-style: italic; }
    .our-dashboard__card p {
      font-size: 1.4rem; }

@media only screen and (max-width: 56.25em) {
  .reach {
    display: block; } }

.reach__banner {
  width: 50vw;
  height: 100vh;
  background: url("./img/bg/clg-logos.svg") center center;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .reach__banner {
      width: 100vw; } }

.reach__content {
  width: 50vw;
  padding: 5rem 15rem 5rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .reach__content {
      width: 100vw; } }
  .reach__content h4 {
    color: #0000ff;
    font-size: 1.4rem;
    font-style: italic; }
  .reach__content p {
    font-size: 2rem;
    font-weight: 600; }
  .reach__content img {
    margin-top: 5rem;
    width: 40vw; }
    @media only screen and (max-width: 56.25em) {
      .reach__content img {
        width: 80vw; } }

.signup-page {
  height: 100vh;
  background-color: #f7f7f7; }
  .signup-page__card {
    height: 60vh;
    width: 70vw;
    box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    font-size: 1.4rem; }
    @media only screen and (max-width: 37.5em) {
      .signup-page__card {
        width: 90%;
        font-size: 1.4rem; } }
    .signup-page__card__left {
      background-image: url("./img/Sign_up.png");
      background-size: cover;
      height: 100%; }
      @media only screen and (max-width: 37.5em) {
        .signup-page__card__left {
          display: none; } }
  .signup-page__header {
    font-weight: 400; }
  .signup-page__input {
    width: 50%;
    margin-top: 1.5rem;
    padding: .8rem;
    display: block;
    border-radius: 10rem;
    border: none;
    outline: none;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .signup-page__dash {
    margin: 1rem;
    height: .3rem;
    width: 2rem;
    background-color: #fff; }

.btn-sign-up {
  background-color: #5fc4ff;
  margin: 3rem 0 1rem 0;
  border-radius: 10rem;
  border: none;
  width: 50%;
  color: #fff;
  padding: .3rem;
  display: block;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .btn-sign-up:hover {
    background-color: #00a0fd;
    box-shadow: none; }

.personal-detail-page {
  min-height: 100vh; }
  .personal-detail-page__sidebar {
    width: 20vw;
    min-height: 100vh;
    background-color: #00a0fd;
    padding: 1.4rem;
    box-shadow: 0.5rem 0 2rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .personal-detail-page__sidebar {
        width: 40vw; } }
    @media only screen and (max-width: 37.5em) {
      .personal-detail-page__sidebar {
        display: none; } }
  .personal-detail-page__header {
    text-align: center;
    padding: 5rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.detail {
  width: 80vw;
  padding: 5rem;
  position: relative; }
  .detail__form {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: repeat(6, 5rem);
    grid-gap: 1rem 5rem;
    width: 80%;
    height: fit-content;
    padding: 5rem; }
    .detail__form--2 .detail__input:nth-child(1) {
      grid-column: 1/4; }
    .detail__form--2 .detail__input:nth-child(2) {
      grid-column: 1/3; }
    .detail__form--2 .detail__input:nth-child(3) {
      grid-column: 3/4; }
    .detail__form--2 .detail__input:nth-child(4) {
      grid-column: 1/3; }
    .detail__form--2 .detail__input:nth-child(5) {
      grid-column: 3/4; }
    .detail__form--2 .detail__input:nth-child(6) {
      grid-column: 1/3; }
    .detail__form--2 .detail__input:nth-child(7) {
      grid-column: 3/4; }
    .detail__form .detail-btn {
      border: none;
      display: block;
      grid-column: 3/4;
      border-radius: 10rem;
      text-align: center;
      height: 100%;
      padding: .5rem;
      transition: all .2s;
      background-image: linera-gradient(#5fc4ff, #00a0fd); }
  .detail__input {
    width: 100%;
    display: block;
    border: none;
    padding: 1rem;
    border-bottom: 1px solid black;
    font-size: 1.6rem; }
    .detail__input:invalid {
      border-bottom: 1px solid rgba(255, 0, 0, 0.6); }
    .detail__input:nth-child(1), .detail__input:nth-child(3), .detail__input:nth-child(5) {
      grid-column: 1/3; }
    .detail__input:nth-child(7) {
      grid-column: 1/4; }

.signin-page {
  height: 100vh; }
  @media only screen and (max-width: 37.5em) {
    .signin-page {
      font-size: 1.4rem; } }
  .signin-page__left {
    height: 100%;
    background: url("./img/Sign_in.png");
    background-size: cover; }
  .signin-page__right {
    height: 100%; }
  .signin-page__header {
    font-size: 2rem;
    color: #3c3754;
    letter-spacing: .5rem;
    font-weight: 700;
    margin: 3rem;
    text-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .signin-page__header--2 {
      color: rgba(0, 0, 0, 0.6);
      letter-spacing: .2rem; }
  .signin-page__input {
    padding: .5rem;
    width: 20rem;
    border: none;
    border-bottom: 0.5px solid #3c3754;
    margin-top: 1rem;
    font-size: 1.8rem; }
  .signin-page__btn-grp {
    margin: 2rem; }
  .signin-page__btn {
    padding: .6rem 2rem;
    border: 1px solid #3c3754;
    margin: 1.4rem;
    background: transparent;
    border-radius: 3px; }
    .signin-page__btn.active {
      background: #3c3754;
      color: #fff; }

.done-page__box {
  margin: 1rem;
  padding: 2rem;
  background: rgba(0, 255, 0, 0.1);
  color: #00ff00;
  text-transform: capitalize;
  text-align: center; }

.pricing-page {
  background: #F5F4F4; }
  .pricing-page__card-list {
    padding: 5rem; }
  .pricing-page .bg-transparent {
    background: rgba(0, 0, 0, 0); }
  .pricing-page nav a {
    color: #000 !important; }
  @media only screen and (max-width: 75em) {
    .pricing-page__card-list {
      display: block; } }
  .pricing-page__header {
    height: 100%;
    background: url("./img/bg/PRICING-HEAD-BG.svg") center center;
    background-size: cover;
    background-position: top; }
    .pricing-page__header h1 {
      height: 40vh;
      font-weight: 200;
      display: flex;
      justify-content: center;
      font-style: italic;
      letter-spacing: .2rem;
      align-items: flex-end; }
    .pricing-page__header .header_secondary {
      height: 20vh;
      font-weight: 200;
      letter-spacing: .2rem;
      font-style: italic;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
